<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= market.MarketName %> Info Page</title>
  </head>
  <body>
    <h1><%= market.MarketName %></h1>
      <p><%= market.street %></p>
      <p><%= market.city %></p>
      <p><%= market.State %></p>
      <p><%= market.zip %></p>
  </body>
</html>
